{{define "contents"}}
<div class="container mx-auto md:px-2">
  <div class="flex flex-col gap-4 lg:flex-row lg:gap-2">
    <div class="lg:w-1/4">
      {{template "#sideMenuBegin"}}
        {{template "#sideMenuItem" inlinePipeline "Href" "#personal-info" "Icon" "person"       "Label" "개인정보"}}
        {{template "#sideMenuItem" inlinePipeline "Href" "#services"      "Icon" "apps"         "Label" "서비스"}}
        {{template "#sideMenuItem" inlinePipeline "Href" "#security"      "Icon" "lock"         "Label" "로그인 된 기기"}}
        {{template "#sideMenuItem" inlinePipeline "Href" "#my-data"       "Icon" "contact_page" "Label" "데이터"}}
      {{template "#sideMenuEnd"}}
    </div>

    <div class="flex-1 flex flex-col px-3 lg:pt-4">
      <div class="border border-red-500 bg-red-500 bg-opacity-10 rounded p-3 mb-6">
        30분 전 수상한 로그인 시도가 있었습니다. <a class="text-blue-500 hover:underline" href="#security">자세히 알아보기</a>
      </div>

      {{template "#sectionBegin" inlinePipeline "ID" "personal-info"}}
        {{template "#sectionLeading" inlinePipeline "Title" "개인정보" "SubTitle" "일부 정보를 내가 허용한 다른 서비스에서 이용할 수 있습니다."}}
        <div class="p-4">
          사진
        </div>
        <div class="p-4">
          이름
        </div>
        <div class="p-4">
          생년월일
        </div>
        <div class="p-4">
          성별
        </div>
        <div class="p-4">
          비밀번호
        </div>
      {{template "#sectionEnd"}}

      {{template "#sectionBegin"}}
        {{template "#sectionLeading" inlinePipeline "Title" "연락처"}}
        <div class="p-4">
          이메일
        </div>
        <div class="p-4">
          전화번호
        </div>
      {{template "#sectionEnd"}}

      {{template "#sectionBegin"}}
        {{template "#sectionLeading" inlinePipeline "Title" "내 서비스"}}
      {{template "#sectionEnd"}}

      {{template "#sectionBegin"}}
        {{template "#sectionLeading" inlinePipeline "Title" "로그인 된 기기"}}
      {{template "#sectionEnd"}}

      {{template "#sectionBegin"}}
        {{template "#sectionLeading" inlinePipeline "Title" "내 데이터"}}
      {{template "#sectionEnd"}}
    </div>
  </div>
</div>
{{end}}

{{- template "template" . -}}
